

<nav class="navbar navbar-expand-lg fixed-top " [ngClass]="{navBg: isScroll}">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="../../assets/images/freshcart-logo.svg" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav ms-auto" *ngIf="isLoggedIn">
        <li class="nav-item d-flex align-items-center">
          <a class="nav-link  d-inline" aria-current="page" routerLink="Home" routerLinkActive="active" >Home</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="nav-link d-inline" routerLink="Cart" routerLinkActive="active">Cart</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="nav-link d-inline"  [routerLink]="['Products','']" routerLinkActive="active">Products</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="nav-link d-inline"  routerLink="Categories"routerLinkActive="active">Categories</a>
        </li>
        <li class="nav-item d-flex align-items-center mb-md-3 mb-lg-0 me-4">
          <a class="nav-link d-inline" routerLink="Brands" routerLinkActive="active">Brands</a>

        </li>
        <li class="nav-item d-flex align-items-center mb-md-3 mb-lg-0 me-4">
          <a class="nav-link d-inline" routerLink="allorders" routerLinkActive="active">Orders</a>

        </li>
        <li class="nav-item d-flex align-items-center mb-md-3 mb-lg-0 me-4">
          <a class="nav-link d-inline" routerLink="Wishlist" routerLinkActive="active">Wishlist</a>

        </li>
         </ul>
         <ul class="d-md-block d-lg-flex ps-0 ms-auto">
        <li class="nav-item d-flex align-items-center mb-md-3 mb-lg-0 me-4">
          <a href=""><i class="fa-brands fa-instagram me-2"></i></a>
          <a href=""><i class="fa-brands fa-facebook me-2"></i></a>
          <a href=""><i class="fa-brands fa-tiktok me-2"></i></a>
          <a href=""><i class="fa-brands fa-linkedin me-2"></i></a>
          <a href=""><i class="fa-brands fa-youtube me-2"></i></a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class=" btn me-2" routerLink="LogIn" routerLinkActive="btnActive"  *ngIf="!isLoggedIn">LogIn</a>
          <a class=" btn me-2" routerLink="Register" routerLinkActive="btnActive"  *ngIf="!isLoggedIn">Register</a>
          <button class=" btn me-2" (click)="logOut()"  *ngIf="isLoggedIn">SignOut</button>
        </li>

      </ul>
    </div>
  </div>
</nav>

<!-- End Example Code -->




