<div class="py-5">
  <form [formGroup]="ForgetForm" (ngSubmit)="GetCode(ForgetForm)">

    <label for="email" class="mb-1">Email:</label>
    <input type="email" id="email" class="form-control mb-2" formControlName="email">
     <div class="d-flex flex-wrap">
      <p *ngIf="ForgetForm.get('email')?.getError('required') && ForgetForm.get('email')?.touched"
        class="alert alert-danger me-1 p-1 ">Email is required</p>
      <p *ngIf="ForgetForm.get('email')?.getError('email') && ForgetForm.get('email')?.touched"
        class="alert alert-danger me-1 p-1 ">Email must be example@example.com</p>
    </div>
    <div class="text-end">
      <button class="btn" [disabled]="!ForgetForm.valid">Get rest code</button>
    </div>

  </form>
</div>
